@media (min-width:801px)  {
  input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 25px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #FF8C00;
  transition: all 0.3s;
  padding: 13px;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 90%;
  box-sizing: border-box;
  outline:0;
  }

  .input-container {
    width: 60%;
  }
}


@media (max-width: 800px) {
  input {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #FF8C00;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }

    .input-container {
      width: 90%;
    }
}




