@media (min-width:801px)  {
  .list-title {
    font-size: 3.5rem;
    margin-top: 2%;
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
  }
}

@media (max-width: 800px) {
  .list-title {
    font-size: 2rem;
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
  }
}



.list-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list-page {
  background-color: bisque;
}
