
@media (min-width:801px)  {
  .footer {
    background-color: #FF8C00;
    height: 145px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position:relative;
    bottom: 0;
    
  }
  
  .socials {
    display: flex;
    justify-content: center;
    background-color: #FFA000;
    border: solid 1px rgba(212, 212, 212, 0.5);
  }
  
  .legals {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 0.5%;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.3rem;
  }

}

@media (max-width: 800px) {
  .footer {
    background-color: #FF8C00;
    height: 200px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
  .socials {
    display: flex;
    justify-content: center;
    background-color: #FFA000;
    border: solid 1px rgba(212, 212, 212, 0.5);
  }
  
  .legals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .legal-detail {
    margin-bottom: 5px;
  }

}


.link-footer {
  font-size: large;
  margin-top: 5px;
}

.link-footer:hover {
  text-decoration:underline; 
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 15px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .linkendin:hover,
.wrapper .linkendin:hover .tooltip,
.wrapper .linkendin:hover .tooltip::before {
  background: rgb(10, 102, 194);
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}


